<div id="workflowHistory">
	
	<div class="row" id="workflowHistoryDesign">
		<div id="workflowHistory-d3" class="col-md-12"></div>
		
	</div>

	<div class="row" id="workflowHistoryList">
		<div id="workflowHistory-list" class="col-md-12">
			<ul class="item-status">
				<li><i class="icon-status status-f"></i>Fail</li>
				<li><i class="icon-status status-s"></i>Success</li>
				<li><i class="icon-status status-n"></i>No Run</li>	
			</ul>	
			<table class="table">
	      <thead>
	        <tr>
	          <th>WORKFLOW NAME</th>
	          <th>VERSION</th>
	          <th>STATUS</th>
	          <th>OPERATION</th>
					</tr>
	      </thead>
	      <tbody class="workflow-list">
	      	<tr>
	      		<td></td>
	      		<td></td>
	      		<td></td>
	      		<td></td>
	      	</tr>
	      	
	      </tbody>
			</table>
		</div>
	</div>

</div>
